body {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	background-color: #f6f6f6;
	color: #000;
}

.messages-logo {
	width: 80px;
	height: 80px;
	margin: 0 auto;
}

/* 958 x 600 */

.main {
	/*2062*/
  width: 480px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  padding: 50px;
  text-align: center;
}

.main a {
	display: block;
}

h1 {
	/*font-size: 48px*/
 color: rgba(0, 0, 0, .5);
 font-size: 36px;
 display: block;
 font-weight: 300;
}

.button {
	/* 23 */
	background: 0;
	border: 0;
	padding: 8px 60px;
	background-color: #34a7fc;
	color: white;
	border-radius: 25px;
	display: block;
	margin: 30px auto;
	font-size: 14px;
	font-weight: 400;
}

.cancel {
	/*15*/
	color: #34a7fc;
	font-size: 10px;
}

.modal {
	backgruond-color: #ccc;
	color: #000;
}
